<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()" >&times;</button>
      <h4 class="modal-title">{{ title || 'Confirmar remoção' }}</h4>
    </div>
    <div class="modal-body">
      <p>{{ message || 'Deseja remover?' }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="close()" >Cancelar</button>
      <button type="button" class="btn btn-inverse" (click)="confirm()">Confirmar</button>
    </div>
  </div>
</div>

<!--div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-align-center fw-bold mt" id="myModalLabel18">One more step</h4>
          <p class="text-align-center fs-mini text-muted mt-sm">
              We need a bit of your detailed information to proceed. US ticketing system requires
              us to process and check your personal infromation before we can go.
          </p>
      </div>
      <div class="modal-body bg-gray-lighter">
          <form>
              <div class="row">
                  <div class="col-md-8">
                      <div class="form-group">
                          <input type="text" class="form-control input-no-border"
                                  placeholder="Name">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <input type="text" class="form-control input-no-border"
                                  placeholder="Middle Name">
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="form-group">
                          <input type="text" class="form-control input-no-border"
                                  placeholder="Address">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <input type="text" class="form-control input-no-border"
                                  placeholder="City">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <input type="text" class="form-control input-no-border"
                                  placeholder="Country">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <input type="text" class="form-control input-no-border"
                                  placeholder="Zip">
                      </div>
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Save changes</button>
      </div>
  </div>
</div-->